{% extends "template.html" %}
{% block content %}
<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <ul>
  {% for note in all_notes %}
         <li>{{ note.id }}</li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
        
