{% extends "template.html" %}
{% block content %}

<div class="container-fluid text-center">
  <div id="view">
    <a href="view">
      <i class="fa fa-eye"></i>
      <h2>VIEW</h2>
    </a>
  </div>
  <div id="edit">
    <a href="edit">
      <i class="fa fa-pencil-square-o"></i>
      <h2>EDIT<H2>
    </a>
  </div>
</div>

{% endblock %}
        
